
html, body {
    height: 100%;
}

html {
    display: table;
    /*margin: auto;*/
}

body {
    background-color: beige;
    display: table-cell;
    padding: 10px;
    /*vertical-align: middle;*/
}

.main {
    background-color: aliceblue;
    padding: 20px;
    height: 98.5%;

    margin: auto;
    width: 45%;

    border: 4px groove black;
}